.h1-section {
    background-color: #C4C4C4;
    text-align: center;
    min-width: 320px;

    &__container {
        max-width: 360px;
        margin: 0 auto;

        // @media screen and (min-width: $desktop) {
        //     width: 696px;
        // }
        @media screen and (min-width: $desktop) {
            max-width: 696px;
        }
    }
}

.h1-section__overlay {
    height: 400px;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(../images/hero-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(../images/hero-mobile@2x.jpg);
    }

    @media screen and (min-width: 560px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(../images/hero-tablet.jpg);
    
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(../images/hero-tablet@2x.jpg);
        }
    }

    @media screen and (min-width: 900px) {
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(../images/hero-desktop.jpg);
        
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(../images/hero-desktop@2x.jpg);
        }
    }
}

.h1-section__title {
    margin-bottom: 30px;
    margin-top: 0;

    color: $primary-white-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: $desktop) {
        font-size: 44px;
        line-height: 1.36;
    }
}

.h1-section__button {
    @extend %button;
    padding: 10px 32px;

    align-items: center;
}