.menu-button {
    background-color: transparent;
    border: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    fill: #000;
    z-index: 1000;

    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.menu-button .icon-cross {
    display: none;
}
  
.menu-button.is-open .icon-cross {
    display: block;
}
  
.menu-button.is-open .icon-menu {
    display: none;
}
.icon-menu,
.icon-cross {
    @extend %image;
    width: 40px;
    height: 40px;
}

.social-net {
    display: none;
    @extend %list;

    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: row;

        margin-top: 64px;
    }

    &__item:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding-right: 10px;
        margin-right: 10px;
    }

    &__link {
        font-size: 18px;
        line-height: 1.22;
        color: $accent-color;
        text-decoration: none;
    }
}


